*{
    font-family: arial, helvetica, sans-serif;
}

body{
    background: #161815;
}

.section-paddings {
    padding: 70px 0;
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {  
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 8, 97, 0.327);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000;
}

.w-100 {
    height: 100vh;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i {
    font-size: 50px;
}

.team .card-body i {    
    font-size: 20px;
}
.card-body{
    font-size: 20px;
}


@media(max-width:767px) {
    .navbar {
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        font-size: 15px;
        padding:  10px 15px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 12px;
        line-height: 1.5;
    }
    .about-text { 
        padding: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
    .section-paddings{
        padding: 50px 0;
    }
    
    
}